.mobile{
    display: none;
}

body{
    background-color: #FFFFFF;
    margin: 52px 236px 0 236px;
}

.title{
    position: relative;
    margin: 0 0 35px 0;
}

h1{
    margin: 0 0 12px 0;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

    color: #000000;
}

.sixdot{
    position: absolute;
    margin: 5px 0 0 5px;

}

p{
    margin: 0 0 0 40px;

    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #4F4F4F;
}

.food{
    position: relative;
    margin: 0 0 48px 0;
    height: 200%;
    width: 100%;
}

.requirement{
    position: -webkit-sticky;
    position:sticky ;
    float: right;
    top: 70px;

    width: 216px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.req{
    margin: 50px 44px 50px 42px;
}

.indicator{
    padding: 0 0 0 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;

    color: #BDBDBD;
}

.properties{
    padding: 0 0 0 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #333333;
}

.icon{
    position: absolute;
    width: 30px;
    height: 30px;
}

.properties .serving{
    color: #F2994A;
}

.content{
    margin: 0 0 60px 0;
}

.Ingredients{
    margin: 0 0 28px 0;
}

.content-part{
    position: relative;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #333333; 
}

.ing-title{
    position: relative;
    margin: 32px 0 32px 0;
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #333333; 
}

.step{
    position: relative;
    margin: 30px 0 0 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding-left: 50px;
}

.step .number{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: #FFFFFF;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 36px;
    width: 36px;
    background-color: #F2994A;;
    border-radius: 6px;
}

a { text-decoration: none; color: #BDBDBD }
a:visited { text-decoration: none; color: #BDBDBD}
a:hover { text-decoration: underline; color: #BDBDBD}
a:focus { text-decoration: underline; color: #BDBDBD}
a:active { text-decoration: underline; color: #BDBDBD}

.source{
    position: relative;
    margin-bottom: 100px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%; 

    color: #BDBDBD;
}

a.ref { text-decoration: none; color: #A9A9A9 }
a.ref:visited { text-decoration: none; color: #A9A9A9}
a.ref:hover { text-decoration: underline; color: #A9A9A9}
a.ref:focus { text-decoration: underline; color: #A9A9A9}
a.ref:active { text-decoration: underline; color: #A9A9A9}

.watermark{
    position: relative;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-bottom: 30px;

    color: #A9A9A9;
}


@media screen and (max-width:1400px) {
    body{
        background-color: #FFFFFF;
        margin: 52px 100px 0 100px;
    }
}

@media screen and (max-width:1050px) {
    body{
        background-color: #FFFFFF;
        margin: 52px 50px 0 50px;
    }
}